@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #F1F4F9;
  color: #4E5E6A;
  font-family: "ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
  font-size: 15px;
}

h1 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 1.5em;
}

h1 span {
  font-size: 15px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

p {
  margin: 0 0 12px;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  clear: left;
  float: left;
  width: 60px;
}

dd {
  margin: 0 0 0 60px;
}

ul {
  margin: 0 0 12px 2em;
  padding: 0;
}

a:link, a:visited, a:hover {
  color: #e74c3c;
}

table {
  margin: 12px 10px 0;
  border-collapse: collapse;
  border: none;
}

table td, table th {
  text-align: left;
  padding: 13px;
}

table th {
  width: 300px;
  font-weight: bold;
  border-bottom: 2px solid #F1F4F9;
}

table td {
  border-bottom: 1px solid #F1F4F9;
}

table tr:last-child td {
  border-bottom: none;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  display: block !important;
  animation: show 0.5s ease 0s;
}

.hide {
  display: none !important;
}

#header {
  width: 980px;
  margin: 20px auto;
}

main > section {
  width: 980px;
  margin: 20px auto;
}

main > section .row {
  *zoom: 1;
}

main > section .row:after {
  content: "";
  display: table;
  clear: both;
}

main > section .left-column {
  float: left;
  width: 460px;
}

main > section .right-column {
  float: right;
  width: 460px;
}

#header {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  background-color: #FFFFFF;
}

main > section {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #FFFFFF;
}

main > section .row {
  padding: 12px 20px 0;
}

main > section .drop-zone {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  height: 132px;
  text-align: center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../images/file.svg") no-repeat center #F1F4F9;
  background-size: 132px auto;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  transition: color color 0.5s ease, background-color 0.8s ease, border-color 0.8s ease;
}

main > section .drop-zone.drag-over {
  background-color: rgba(231, 76, 60, 0.5);
  transition: color 0.5s ease, background-color 0.8s ease, border-color 0.8s ease;
}

main > section .output {
  padding: 0 10px 12px;
  min-height: 12px;
}

main > section .output ul {
  margin: 0;
  padding: 36px 0 0;
  list-style-type: none;
}

main > section .output ul:empty {
  padding: 0;
  height: 12px;
}

main > section .output li {
  display: inline-block;
}

main > section .output li a {
  display: inline-block;
  margin: 0 10px 12px;
  padding: 13px;
  width: 140px;
  text-decoration: none;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  transition: color 0.5s ease, background-color 0.8s ease, border-color 0.8s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

main > section .output li a:hover {
  background-color: #e74c3c;
  color: #FFFFFF;
}

ul.input-files {
  margin: 0 0 12px;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

ul.input-files li {
  font-size: 15px;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 36px;
  line-height: 36px;
  color: #e74c3c;
  background: #F1F4F9;
  transition: color 0.5s ease, background-color 0.8s ease, border-color 0.8s ease;
}

ul.input-files li.loaded {
  background: #e74c3c;
  color: #FFFFFF;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(241, 244, 249, 0.5);
}

#loading img {
  display: block;
  height: 140px;
  width: 140px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -70px;
  opacity: 1;
}
